@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle at 20% 20%, rgba(129, 140, 248, 0.05), transparent 30%),
    radial-gradient(circle at 80% 70%, rgba(99, 102, 241, 0.05), transparent 30%);
  opacity: 0.5;
  transition: opacity 0.5s ease;
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  body::before {
    background:
      radial-gradient(circle at 20% 20%, rgba(129, 140, 248, 0.1), transparent 40%),
      radial-gradient(circle at 80% 70%, rgba(99, 102, 241, 0.1), transparent 40%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

/* globals.css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0d6ff9; /* gray-600 */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d6ff9; /* gray-500 */
}

